{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- alpine -->
    <script defer src="{% static 'js/alpine.js' %}"></script>

    <!-- Sweet Alert -->
    <script defer src="{% static 'js/sweetAlert.js' %}"></script>
   

    <!-- htmx -->
    <script src="{% static 'js/htmx.js' %}"></script>

    <!-- tailwind -->
    <link rel="stylesheet" href="{% static 'tailwind/tail.css' %}">

     <!-- alpine store  -->
     <script src="{% static 'progress/js/alpinestore.js' %}"></script>
    
    <title>Managment - {% block title %}{% endblock title %}</title>
</head>

<body class="relative min-h-screen mx-auto bg-slate-100"
    
    x-init="$store.section.updateActive('{{active_section}}')">
    

    <header class="w-full sticky top-0 z-10 bg-sky-700 border-b-4 border-sky-400">
        <div class="max-w-[2000px] mx-auto flex justify-between content-center p-2 lg:p-5"
            x-data="{openMobile : false}">

            <!-- brand -->
            <div class="grid place-content-center">
                <h1 class=" font-semibold text-xl">Progress</h1>
                <p class="text-sm">
                    {% if user.is_authenticated %}
                    Welcome {{user.username}}!
                    {% else %}
                    Not logged in
                    {% endif %}
                </p>
            </div>

            <!-- sections visible md/lg -->
            <nav class="relative d-none md:flex lg:hidden text-sm content-center  justify-around gap-2 p-2 ps-10 border-2 border-solid border-slate-300 rounded-md">
                <span class="absolute left-[-30px] bg-sky-700 text-slate-300 font-semibold py-2 self-center ">Projects</span>
               
                {% include "progress/snippets/btn_section.html" with section_name="all"  %}
                {% include "progress/snippets/btn_section.html" with section_name="public"  %}
            {% if user.is_authenticated %}                
                {% include "progress/snippets/btn_section.html" with section_name="private"  %}
            {% endif %}
            </nav>

            <!-- register and login btns visible from md -->
            <nav class="d-none md:flex self-center text-sm gap-2">

                <!-- HOME visible only md/lg -->
                <a class="d-none md:flex  lg:hidden p-2 rounded bg-sky-400 hover:bg-sky-500"
                :class="{'bg-yellow-500  border-yellow-300' : $store.section.isActive('home')}"
                @click="$store.section.updateActive('home')"
                hx-target="#main"
                hx-push-url="true"
                href="{% url 'progress:projects_home' %}"
                >Home</a>

            {% if user.is_authenticated %}
                <a href="{% url 'account:logout_view' %}" class="p-2 rounded bg-sky-400 hover:bg-sky-500">Logout</a>

            {% else %}
                <a hx-get="{% url 'account:register_view' %}" 
                    hx-target="#main"
                    hx-push-url="true"
                    href="{% url 'account:register_view' %}" class="p-2 rounded bg-sky-400 hover:bg-sky-500">Register</a>
                <a hx-get="{% url 'account:login_view' %}" 
                    hx-target="#main"
                    hx-push-url="true"
                    href="{% url 'account:login_view' %}" class="p-2 rounded bg-sky-400 hover:bg-sky-500">Login</a>

            {% endif %}
            </nav>

            <!-- mobile btn visible until md -->
            <!-- ALPINE handle mobile menu using object openMobile  -->
            <button class="md:hidden place-self-center p-3 rounded bg-sky-400 hover:bg-sky-500"
                @click="openMobile = ! openMobile"
                @click.outside="openMobile = false"
                x-on:resize.window="openMobile = false">

                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                    <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                </svg>
            </button>

            <!-- mobile menu cover all the page when active -->
            <section id="mobile-menu"
                class="d-none fixed left-0 top-16 pt-20 overflow-hidden  bg-opacity-70 bg-sky-600 w-full text-2xl 
                        flex-col justify-center origin-top animate-open-menu"
                
                :class="{'flex' : openMobile, 'd-none' : !openMobile}">
            
                <nav aria-label="mobile" 
                    class="flex flex-col gap-y-10 min-h-screen text-center">
                    <div class="">
                        {% include "progress/snippets/btn_section.html" with section_name="home" mb_2=True strprojects=True %}
                    </div>
                    <div class="">
                    {% include "progress/snippets/btn_section.html" with section_name="public" mb_2=True strprojects=True %}
                    </div>
                    <div class="">
                    {% include "progress/snippets/btn_section.html" with section_name="all" mb_2=True strprojects=True %}
                    </div>
                {% if user.is_authenticated %}                
                    <div class="">
                    {% include "progress/snippets/btn_section.html" with section_name="private" mb_2=False strprojects=True %}
                    </div>



                    <div>
                        <a href="{% url 'account:logout_view' %}" class="p-2 rounded  border-solid border-2 bg-slate-100 shadow-sm hover:bg-yellow-300">Logout</a>
                    </div>

                {% else %}
                    <div>
                        <a hx-get="{% url 'account:register_view' %}" 
                        hx-target="#main"
                        hx-push-url="true"
                        href="{% url 'account:register_view' %}" class="p-2 rounded  border-solid border-2 bg-slate-100 shadow-sm hover:bg-yellow-300">Register</a>
                    </div>

                    <div>
                        <a hx-get="{% url 'account:login_view' %}" 
                            hx-target="#main"
                            hx-push-url="true"
                            href="{% url 'account:login_view' %}" class="p-2 rounded  border-solid border-2 bg-slate-100 shadow-sm hover:bg-yellow-300">Login</a>
                    </div>
                {% endif %}
                <!-- self promotion -->
                <div class="relative top-10">
                    <h2 class="place-self-center text-2xl font-semibold text-white">Contact me on</h2>
                    <ul class="mt-5 flex justify-center gap-5">
                        <li>
                            <a href="https://www.linkedin.com/in/keiner-asael-mendoza-andrade-988ab594/" target="_blank">
                                <img class="w-10 h-full bg-white rounded p-1 hover:bg-yellow-500" src="{% static 'progress/img/linkedin.svg' %}" alt="linkedin">
        
                            </a>
                        </li>
        
                        <li>
                            <a href="https://github.com/keinermendoza" target="_blank">
                                <img class="w-10 h-full bg-white rounded p-1 hover:bg-yellow-500" src="{% static 'progress/img/github.svg' %}" alt="github">
                            </a>
                        </li>
    
                    </ul>
                    <p class="mt-3 text-sm">You can se More of my works in</p>
                    <p><a class="text-white text-xl font-semibold" href="https://keinermendoza.com" target="_blank">keinermendoza.com</a></p>
                </div>
    
                                 
                </nav>

            </section>
        </div>
    </header>
    
    <main class="max-w-[2000px] mx-auto px-2 mt-6" >

        <!-- left ASIDE navbar visible from lg -->
        <aside class="sticky top-24 float-left d-none lg:block w-[350px] mt-[-1rem] mr-5 bg-sky-700 rounded p-2">
            <nav class="flex flex-col content-center text-sm xl:text-xl">

                <h2 class="text-2xl font-semibold text-slate-100  my-2">Sections</h2>
                
                {% include "progress/snippets/btn_section.html" with section_name="home" mb_2=True %}
                {% include "progress/snippets/btn_section.html" with section_name="all" mb_2=True strprojects=True %}
                {% include "progress/snippets/btn_section.html" with section_name="public" mb_2=True strprojects=True %}
            {% if user.is_authenticated %}
                {% include "progress/snippets/btn_section.html" with section_name="private" mb_2=False strprojects=True %}
            {% endif %}
            </nav>
                
        </aside>

        <!-- main content --> 
        <div class="grid w-auto pt-2 pb-20 md:pb-28" id="main">

            {% block main %}
            {% endblock main %}
        </div>
    </main>

    <footer class="absolute bottom-0 w-full bg-sky-700">
        <section class="max-w-[2000px] mx-auto flex justify-between content-center p-2 lg:p-5">
            <div class="flex content-center gap-3">
                <h2 class="place-self-center text-2xl font-semibold text-white">Contact me on</h2>
                <ul class="grid grid-cols-2 gap-3">
                <li>
                    <a href="https://www.linkedin.com/in/keiner-asael-mendoza-andrade-988ab594/" target="_blank">
                        <img class="w-10 h-full bg-white rounded p-1 hover:bg-yellow-500" src="{% static 'progress/img/linkedin.svg' %}" alt="linkedin">

                    </a>
                </li>

                <li>
                    <a href="https://github.com/keinermendoza" target="_blank">
                        <img class="w-10 h-full bg-white rounded p-1 hover:bg-yellow-500" src="{% static 'progress/img/github.svg' %}" alt="github">
                    </a>
                </li>

            </ul>
            </div>
            <div class="place-self-center d-none md:block">
                <p class="text-sm"> <span class="relative -left-2">You can se More of my works in</span>  <a class="text-white hover:text-yellow-500 text-xl font-semibold" href="https://keinermendoza.com" target="_blank">keinermendoza.com</a></p>
            </div>
        </section>
    </footer>
        
</body>
</html>